<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam</title>
    <link rel="stylesheet" href="/Front/html/page/index.css">  
    <link rel="stylesheet" href="main.css">   
<body>    
  <div style="  position: relative;
  width: auto;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
 ">
    <a style=" width: 100px;" v-if="active_page===0" href="../page/page.html">Home</a>
    <a style=" width: 110px;" v-if="active_page===1" href="#">About</a>
    <a style=" width: 100px;" v-if="active_page===2" href="#">Blog</a>
    <a style=" width: 160px;" v-if="active_page===3" href="#">Portefolio</a>
    <a style=" width: 120px;"  href="#../login/login.html">Exit</a>     
    <div class="animation start-home"></div>   
  </div>   
   <div>
    <ul>
        <li>
          <a href="">
            <i class=""></i>
            <span> - Main</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class=""></i>
            <span> - Shop</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class=""></i>
            <span> - Library</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class=""></i>
            <span> - My profile</span>
          </a>
        </li>
      </ul>
        <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
      </div>
      <script src=""></script>
</body>
</header>
</html>



